@model ODS.DataLayer.ods_interesado

@{
    ViewBag.Title = "Eliminar";
}

<h3>¿Estas seguro de eliminar el registro?</h3>
<div>

    @{
        if (User.IsInRole("SuperUsuario"))
        {
            <h4> @Html.ActionLink("Interesado", "Index") > @ViewBag.Title</h4>
        }
        else if (User.IsInRole("Administrador"))
        {
            <h4> @Html.ActionLink("Interesado", "Index", new { IdMunicipio = Model.IdMunicipio }) > @ViewBag.Title</h4>
        }
        else if (User.IsInRole("Usuario"))
        {
            <h4>@Html.ActionLink("Interesado", "Index", new { IdMunicipio = Model.IdMunicipio, idInteresado = Model.IdInteresado }) > @ViewBag.Title</h4>
        }
    }

    <h5>Al eliminar el registro se perderan los datos. ¿Esta seguro de eliminarlo?</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ods_municipio.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ods_municipio.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interesado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interesado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoRecuperacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoRecuperacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaSesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaSesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPUltimaSesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPUltimaSesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |

            @{
                if (User.IsInRole("SuperUsuario"))
                {
                    @Html.ActionLink("Cancelar", "Index")
                }
                else if (User.IsInRole("Administrador"))
                {
                    @Html.ActionLink("Cancelar", "Index", new { IdMunicipio = Model.IdMunicipio })
                }
                else if (User.IsInRole("Usuario"))
                {
                    @Html.ActionLink("Cancelar", "Index", new { IdMunicipio = Model.IdMunicipio, idInteresado = Model.IdInteresado })
                }
            }

        </div>
    }
</div>
