@model ODS.DataLayer.ods_interesado

@{
    ViewBag.Title = "Editar";
}




        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

<div class="form-horizontal">

    @{
        if (User.IsInRole("SuperUsuario"))
        {
            <h4> @Html.ActionLink("Interesado", "Index") > @ViewBag.Title</h4>
        }
        else if (User.IsInRole("Administrador"))
        {
            <h4> @Html.ActionLink("Interesado", "Index", new { IdMunicipio = Model.IdMunicipio }) > @ViewBag.Title</h4>
        }
        else if (User.IsInRole("Usuario"))
        {
            <h4>@Html.ActionLink("Interesado", "Index", new { IdMunicipio = Model.IdMunicipio, idInteresado = Model.IdInteresado }) > @ViewBag.Title</h4>
        }
    }

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdInteresado)

    <div class="form-group">
        @{
            if (User.IsInRole("SuperUsuario"))
            {
                @Html.LabelFor(model => model.IdMunicipio, "IdMunicipio", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdMunicipio", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdMunicipio, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                @Html.HiddenFor(model => model.IdMunicipio)
            }
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Interesado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Interesado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Interesado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Contrasenia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="input-group">
                @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                <div class="input-group-append">
                    <button id="show_password" class="btn btn-primary" type="button">
                        <span class="fa fa-eye-slash icon"></span>
                    </button>
                </div>
            </div>

            @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control", @id = "ContraseniaActual", @name = "ContraseniaActual" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CorreoRecuperacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CorreoRecuperacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CorreoRecuperacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
            @Html.HiddenFor(model => model.UltimaSesion)
     </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.IPUltimaSesion)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Administrador, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Administrador)
                @Html.ValidationMessageFor(model => model.Administrador, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SuperUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.SuperUsuario)
                @Html.ValidationMessageFor(model => model.SuperUsuario, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bloqueado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Bloqueado)
                @Html.ValidationMessageFor(model => model.Bloqueado, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Activo)
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar Cambios" class="btn btn-default" />
        </div>
    </div>
</div>
                    }

        <div>

            @{
                if (User.IsInRole("SuperUsuario"))
                {
                    @Html.ActionLink("Cancelar", "Index")
                }
                else if (User.IsInRole("Administrador"))
                {
                    @Html.ActionLink("Cancelar", "Index", new { IdMunicipio = Model.IdMunicipio })
                }
                else if (User.IsInRole("Usuario"))
                {
                    @Html.ActionLink("Cancelar", "Index", new { IdMunicipio = Model.IdMunicipio, idInteresado = Model.IdInteresado })
                }
            }

        </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
