@model IEnumerable<ODS.DataLayer.ods_interesado>

@{
    ViewBag.Title = "Interesados";
}

@{
    if (User.Identity.IsAuthenticated)
    {

        <div class="card mb-3">
            <div class="card-header">
                
                

                @{
                    if (User.IsInRole("SuperUsuario") || User.IsInRole("Administrador"))
                    {
                        //@Html.ActionLink("Agregar", "Create")

                        <div class="panel-heading">
                            <i class="fas fa-table"></i><strong>@ViewBag.Title</strong> | <a href="@Url.Action("Create")" class="btn btn-default" role="button"><i class="fa fa-plus-circle"></i> Agregar</a>
                        </div>
                    }
                    else
                    {
                        <div class="panel-heading">
                            <i class="fas fa-table"></i><strong>@ViewBag.Title</strong> 
                        </div>
                    }
                }

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ods_municipio.Municipio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Interesado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Usuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CorreoRecuperacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UltimaSesion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IPUltimaSesion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Administrador)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SuperUsuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bloqueado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Activo)
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        @{ 
                            if(Model.Count() > 1)
                            {
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ods_municipio.Municipio)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Interesado)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Usuario)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CorreoRecuperacion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UltimaSesion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IPUltimaSesion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Administrador)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SuperUsuario)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Bloqueado)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Activo)
                                        </th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                            }
                        }
                        
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ods_municipio.Municipio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Interesado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorreoRecuperacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UltimaSesion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IPUltimaSesion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Administrador)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SuperUsuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bloqueado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Activo)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.IdInteresado })" class="btn btn-default" role="button"><span class="fa fa-wrench"> Editar</span></a>
                                    <a href="@Url.Action("Details", new { id = item.IdInteresado })" class="btn btn-default" role="button"><span class="fa fa-table"> Detalles</span></a>
                                    <a href="@Url.Action("Delete", new { id = item.IdInteresado })" class="btn btn-default" role="button"><span class="fa fa-trash"> Eliminar</span></a>                                    
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
}
