@model ODS.DataLayer.ods_vinculo_meta_municipio

@{
    ViewBag.Title = "Delete";
}

<div>
    <h4>@Html.ActionLink("Vincular Metas ODS 2035 con Metas del Municipio", "Index")  > Eliminar</h4>
    <h5>Al eliminar el registro se perderan los datos. ¿Esta seguro de eliminarlo?</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ods_meta.Numeral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ods_meta.Numeral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ods_meta_municipio.MetaMuncipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ods_meta_municipio.MetaMuncipio)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
