@model ODS.DataLayer.ods_meta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ods_meta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ods_objetivo.Objetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ods_objetivo.Objetivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numeral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numeral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMeta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
