@model IEnumerable<ODS.DataLayer.ods_seguimiento_tarea>

@{
    ViewBag.Title = "Index";
}

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Seguimiento a las Tareas del Municipio  |   @Html.ActionLink("Agregar", "Create")
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ods_interesado.Interesado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ods_tarea.Tarea)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Avance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comentarios)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ods_interesado.Interesado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ods_tarea.Tarea)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Avance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comentarios)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ods_interesado.Interesado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ods_tarea.Tarea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Avance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentarios)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdSeguimiento }) 
                            @*@Html.ActionLink("Detalles", "Details", new { id = item.IdSeguimiento }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdSeguimiento })*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        @Html.ActionLink("Agregar", "Create")
    </div>
</div>

