@model ODS.DataLayer.ods_objetivo_municipio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ods_objetivo_municipio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ods_municipio.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ods_municipio.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numeral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numeral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjetivoMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjetivoMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vigente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vigente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdObjetivoMunicipio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
