@model ODS.DataLayer.ods_tablero_indicador

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Html.ActionLink("Configurar Tablero de Indicadores", "../ods_tablero_indicador_vw/Index")  > Agregar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Anio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Anio, new SelectList(ViewBag.ListaAnios, "Value", "Text"), "Seleccionar Año")
                @Html.ValidationMessageFor(model => model.Anio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ods_indicador.Indicador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ods_indicador.Indicador, htmlAttributes: new { @class = "form-control", id = "Indicador" })
                @Html.HiddenFor(model => model.IdIndicador, htmlAttributes: new { @class = "form-control", id = "IdIndicador" })
                @Html.ValidationMessageFor(model => model.IdIndicador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorIndicador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorIndicador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorIndicador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EscalaPositiva, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EscalaPositiva)
                    @Html.ValidationMessageFor(model => model.EscalaPositiva, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts {

    @*Funcion de autocompletar para el Indicador*@
    <script type="text/javascript">
         $(document).ready(function () {
            $("#Indicador").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("ObtenerIndicadores", "ods_tablero_indicador")',
                        data: {term: request.term },
                        datatype: "json",
                        type: "Get",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (val, item) {
                                return {
                                    label: val.Name,
                                    value: val.Name,
                                    IdIndicador: val.ID
                                }
                            }))
                        }
                        ,
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    })
                },
                select: function (event, ui) {
                    $("#IdIndicador").val(ui.item.IdIndicador);
                }
            });
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
