@model IEnumerable<ODS.DataLayer.ods_meta_municipio>

@{
    ViewBag.Title = string.Format("Metas del Municipio de {0}", ViewBag.Interesado.ods_municipio.Municipio);
}

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            @ViewBag.Title | @Html.ActionLink("Agregar", "Create")
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.ods_indicador.Indicador)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ods_objetivo_municipio.Numeral)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MetaMuncipio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Anio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaTermino)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DebeCumplirse)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EscalaPositiva)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Avance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cumplida)
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.ods_indicador.Indicador)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ods_objetivo_municipio.Numeral)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MetaMuncipio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Anio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaTermino)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DebeCumplirse)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EscalaPositiva)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Avance)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cumplida)
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @{
                                    if (item.Avance >= 0 && item.Avance <= (item.DebeCumplirse / 3))
                                    {
                                        <i class='fas fa-tachometer-alt' style='font-size:24px;color:red'></i>
                                    }
                                    else if (item.Avance > (item.DebeCumplirse / 3) && item.Avance <= (item.DebeCumplirse / 2))
                                    {
                                        <i class='fas fa-tachometer-alt' style='font-size:24px;color:yellow'></i>
                                    }
                                    else if (item.Avance > (item.DebeCumplirse / 2) && item.Avance <= item.DebeCumplirse)
                                    {
                                        <i class='fas fa-tachometer-alt' style='font-size:24px;color:green'></i>
                                    }
                                }
                                <a href="@Url.Action("Index", "ods_tarea",new { idTarea = item.IdMetaMunicipio })" data-toggle="tooltip" title="Tareas"><i class='fa fa-tasks' style='font-size:24px;color:gray'></i></a>
                                <a href="@Url.Action("Create", "ods_tarea",new { idTarea = item.IdMetaMunicipio })" data-toggle="tooltip" title="Agregar Tarea"><i class='fa fa-calendar' style='font-size:24px;color:gray'></i></a>
                                <a href="@Url.Action("Edit", "ods_meta_municipio",new { id = item.IdMetaMunicipio })" data-toggle="tooltip" title="Editar"><i class='fa fa-pencil-alt' style='font-size:24px;color:gray'></i></a>
                                <a href="@Url.Action("Delete", "ods_meta_municipio", new { id = item.IdMetaMunicipio })" data-toggle="tooltip" title="Eliminar"><i class='fa fa-trash-alt' style='font-size:24px;color:gray'></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ods_indicador.Indicador)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ods_objetivo_municipio.Numeral)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaMuncipio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Anio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaTermino)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DebeCumplirse)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EscalaPositiva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Avance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cumplida)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
